<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventDay.Api.Client" version="2.5.92-beta" targetFramework="MonoAndroid22" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="MonoAndroid22" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Net.Http" version="2.2.13" targetFramework="MonoAndroid22" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="MonoAndroid22" />
</packages>